.portfolio
  background: $sec-color url('../img/portfolio/portfolio-pattern.jpg') center left repeat-y 
  background-size: 50%
  &__title
    max-width: 768px
    margin: auto
    margin-bottom: 100px